.about-section {
  color: #222222;
  background: #fff;
  padding: 5vh 5vw;
  p {
    font-size: 70px;
    line-height: 1.12;
    opacity: 0;

    > div {
      color: #222222;
      opacity: 0;
      transform: translateY(0px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
}
